.table-container {
  margin: 30px;
}

.state {
  width: 14px;
  height: 14px;
  margin: auto;
}

.red {
  background-color: #d64045;
  border: 1px solid #651518;
}

.yellow {
  background-color: #fde74c;
  border: 1px solid #796b01;
}

.green {
  background-color: #44af69;
  border: 1px solid #225835;
}
